APP_NAME=Classifier General API
ENVIRONMENT=development
DEBUG=false

STATIC_DIR=static
UPLOAD_SUBDIR=uploads

CLASSIFIER_SPACE=https://ayoubchlin-ayoubchlin-stable-bart-mnli-cnn.hf.space/
CLASSIFIER_API_NAME=/predict
HUGGINGFACE_TOKEN=

LANGUAGE_DETECTOR_URL=https://team-language-detector-languagedetector.hf.space/run/predict
REQUEST_TIMEOUT_SECONDS=30

DEFAULT_LABELS_CSV=news,sport,finance,politics
